<app-modal class="login-dialog">
  <div class="modal-body">
    <form>
      <img src="/assets/img/logo-black-100.png" alt="Bestia Browsergame">
      <fieldset>
        <label for="username">E-Mail</label>
        <input type="email" placeholder="Enter E-Mail" id="username">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" autocomplete="current-password" id="password">
        <input class="button-primary" type="submit" value="Login">
        <a href="Forgot Password"></a>
      </fieldset>
    </form>
  </div>
</app-modal>