<div class="wrapper">
  <div class="sidebar">
    <ul>
      <li><button (click)="toggleChat()">Chat</button></li>
      <li><button (click)="toggleInventory()">Inventory</button></li>
    </ul>
  </div>
  <div class="content">
    <phaser-component (mouseout)="onMouseOut()" (mouseover)="onMouseOver()" [class.no-cursor]="hideDefaultCursorOverGame" (gameReady)="onGameReady($event)" [gameConfig]="config" [Phaser]="phaser"></phaser-component>
  </div>
</div>

<app-chat></app-chat>
<app-inventory></app-inventory>
