.no-cursor {
  cursor: none;
}

.wrapper {
  height: auto;
  overflow: hidden;
}

.content {
  width: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.sidebar {
  position: absolute;
  left: 0;
  width: 200px;
  padding: 10px;
  z-index: 10;

  ul {
    list-style: none;
  }

  button {
    width: 100%;
  }
}
