<div class="inventory" *ngIf="isOpen" [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="inventory-container">
    <div class="inventory-header">
      <h1>Inventory</h1>
      <div class="weight">
        Items: {{itemCount}} / {{itemMaxCount}} -
        Weight {{weight | number: '1.0-1'}} / {{maxWeight}}
      </div>
      <button (click)="close()">Close</button>
    </div>
    <div style="display: flex;">
      <ul class="inventory-options">
        <li class="active">ITEM</li>
        <li>CRAFT</li>
      </ul>
      <div class="inventory-main">
        <div>
          <input type="search" class="search" placeholder="Search">
        </div>
        <div class="items" *ngFor="let item of items">
          <div class="item">
            <img [src]="item.imageUrl" [alt]="item.name">
            <div>{{item.amount}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>