@import '../ui.scss';

.inventory {
  @extend %ui-base;
}

.inventory-container {
  display: inline-block;
}

.item:hover {
  background-color: red;
}

.items {
  margin: 0 10px;
}

.item {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;

  img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  span {
    background: rgba(134, 134, 134, 0.8);
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    right: -5px;
    top: 5px;
    font-size: 0.8em;
    text-align: center;
    color: white;
  }
}