<div class="inventory" *ngIf="isOpen" [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="inventory-container">
    <h1>Inventory</h1>
    <div class="inventory-header">
      <ul style="width: 100px; background: green;">
        <li><button>Items</button></li>
        <li><button>Crafting</button></li>
      </ul>
      <div class="item-container items" *ngFor="let item of items">
        <div class="item">
          <img [src]="item.imageUrl" [alt]="item.name">
          <span>10</span>
        </div>
      </div>
    </div>

    <div class="inventory-footer">
      Items: 123 / 1000 - Weight 10 / 80
    </div>
  </div>
</div>