<div class="chat" [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="chat-header"><button class="button button-outline" (click)="clickClose()">Close</button></div>
  <div class="messages" *ngFor="let message of messages">
    <div class="message" [ngClass]="{'whisper': message.mode == 'WHISPER'}">
      <span *ngIf="message.sender">{{message.sender}}: </span>{{message.text}}
    </div>
  </div>
  <div class="inputs">
    <form>
      <input type="text" placeholder="Chat" id="chatField">
      <input class="button-primary" type="submit" value="Send">
    </form>
  </div>
</div>
